.ScenicCarTypeSelector {
  .scenic-type-accordion {
    margin-top: 1rem;
  }

  .inner-heading {
    margin-top: 1.5rem;
  }

  .displayed-value {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__thumbnail {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__name {
      margin: 0;
      font-size: 0.875rem;
    }
  }
} 