.CustomFinishes {
  .btn-remove-custom-finish {
    position: absolute;
    top: -12px;
    right: -6px;
    width: 25px;
    height: 25px;
    background-color: #000;
    color: white;    
    border-radius: 999px;    
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.rtl {
  .CustomFinishes {
    .btn-remove-custom-finish {
      right: unset;
      left: -6px;
    }
  }
}